<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dewey" version="5.0.0" targetFramework="net471" />
  <package id="Dewey.Drawing" version="5.0.0" targetFramework="net471" />
  <package id="Hammer.Drawing" version="0.2.0.33" targetFramework="net471" />
  <package id="Hammer.Lib" version="0.1.0.19" targetFramework="net471" />
  <package id="Hammer.Portable" version="0.1.0.19" targetFramework="net471" />
  <package id="Magick.NET.Core" version="8.4.0" targetFramework="net471" />
  <package id="Magick.NET.SystemDrawing" version="4.0.9" targetFramework="net471" />
  <package id="Shaman.System.Drawing" version="1.0.1.4" targetFramework="net471" />
  <package id="shim" version="2.0.1" targetFramework="net471" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net471" developmentDependency="true" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net471" />
  <package id="Tesseract" version="4.1.1" targetFramework="net471" />
  <package id="Tesseract.Drawing" version="4.1.1" targetFramework="net471" />
  <package id="ZKWeb.System.Drawing" version="4.0.1" targetFramework="net471" />
  <package id="ZXing.Net" version="0.16.6" targetFramework="net471" />
  <package id="ZXing.Net.Bindings.ZKWeb.System.Drawing" version="0.16.5" targetFramework="net471" />
</packages>